<section class="block container">
      <div class="grid grid--cols-2">
        <div>
          <div>
            <span class="icon-container">
              <svg class="icon icon--primary">
                  <use xlink:href="../images/icons/sprite.svg#search"></use>
              </svg>
            </span>
          </div>
          <h2>super easy to use</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Rem laboriosam, saepe voluptatum excepturi eveniet sed tempora iusto 
            asperiores sapiente. Labore pariatur accusamus omnis consectetur, 
            sunt maxime culpa quae soluta, laboriosam tempore dolorem possimus tenetur, 
            iste similique nobis esse consequuntur fugiat nesciunt ratione praesentium 
            eos maiores. Cupiditate accusantium facere in minus necessitatibus dolorem 
            ullam corporis ad adipisci...
          </p>
          <div class="collapsible">
            <div class="features__more">
              <p>learn more ->
            </div>
            <span class="collapsible__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Laudantium, modi repellendus sapiente quasi consectetur ut 
              asperiores mollitia, fugiat animi qui delectus. 
              Quo, sit cupiditate odit maxime laborum corrupti alias perspiciatis 
              officia ullam porro repudiandae maiores fuga? Temporibus sed error 
              illum veniam expedita perspiciatis labore, in rerum tempora suscipit minus ipsa.
            </span>
          </p>
          </div>         
        </div>
        <div>
          <img class="features__img" src="../images/easy.jpg" alt="">
        </div>
      </div>
    </section>