<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">products</h2>
          <svg class="icon icon--white collapsible__icon">
            <use xlink:href="../images/icons/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">WordPress Hosting</a></li>
            <li><a href="#">Free Automated</a></li>
            <li><a href="#"> WordPress</a></li>
            <li><a href="#">Migrations</a></li>
            <li><a href="#">Domain Names</a></li>
            <li><a href="#">Monthly Web Hosting</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">company</h2>
          <svg class="icon icon--white collapsible__icon">
            <use xlink:href="../images/icons/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">about</a></li>
            <li><a href="#">affiliates</a></li>
            <li><a href="#">blogs</a></li>
            <li><a href="#">careers</a></li>
            <li><a href="#">community</a></li>
            <li><a href="#">news</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">support</h2>
          <svg class="icon icon--white collapsible__icon">
            <use xlink:href="../images/icons/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">contact</a></li>
            <li><a href="#">knowledge base</a></li>
            <li><a href="#">forums</a></li>
            <li><a href="#">system status</a></li>
            <li><a href="#">web hosting</a></li>
            <li><a href="#">dreamCompute</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">domain</h2>
          <svg class="icon icon--white collapsible__icon">
            <use xlink:href="../images/icons/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">domain checker</a></li>
            <li><a href="#">domain transfer</a></li>
            <li><a href="#">free domain</a></li>
            <li><a href="#">XYZ domain</a></li>
            <li><a href="#">cheap ssl certificate</a></li>
          </ul>
        </div>
      </section>
      <section class="footer__brand">
        <img src="../images/logo.png" alt="">
        <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
      </section>
    </div>
  </footer>
  <!-- MINE: -->
  <!-- <footer class="footer container block block--dark grid grid--cols-4">
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">products</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="../images/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>WordPress Hosting</li>
          <li>Free Automated WordPress</li>
          <li>Migrations</li>
          <li>Domain Names</li>
          <li>Monthly Web Hosting</li>
        </ul>
      </div>
      <div class="divider"></div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">company</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="../images/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>about</li>
          <li>affiliates</li>
          <li>blogs</li>
          <li>careers</li>
          <li>community</li>
          <li>news</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">support</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="../images/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>contact</li>
          <li>knowledge base</li>
          <li>forums</li>
          <li>system status</li>
          <li>web hosting</li>
          <li>dreamCompute</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">domain</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="../images/icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>domain checker</li>
          <li>domain transfer</li>
          <li>free domain</li>
          <li>XYZ domain</li>
          <li>cheap ssl certificate</li>
        </ul>
      </div>
    </div>
  </footer> -->