<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quis iure explicabo. Corrupti eligendi, suscipit iusto modi voluptas fugit ducimus nobis cupiditate libero dolor voluptatem quo, deserunt molestiae. Natus, deserunt!</p>
    <footer class="quote__sign">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="../images/icons/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Jhone Lumeo</h3>
          <p class="quote__company">ABC Company</p>
        </div>
    </div>
    </footer>
  </blockquote>