<section class="block block--dark block--skewed-right showcase">
    <header class="block__header">
      <h2 class="block__heading">User Friendly Control Panel</h2>
    </header>
    <article class="container grid grid--cols-2">
      <img class="showcase__image" src="../images/ipad.png" alt="" />
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="../images/icons/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start and managed updates</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium totam rem reiciendis incidunt a eveniet dignissimos
                maiores laborum et harum!
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="../images/icons/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Staging, Git & WP-CLI</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium totam rem reiciendis incidunt a eveniet dignissimos
                maiores laborum et harum!
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="../images/icons/sprite.svg#menu"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Dynamic Caching & More</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium totam rem reiciendis incidunt a eveniet dignissimos
                maiores laborum et harum!
              </p>
            </div>
          </div>
        </li>
      </ul>
    </article>
  </section>